[flake8]
ignore =
    # <code>,   # description
    E722,       # do not use bare except' (done by pylint)
    F401,       # imported but unused (done by pylint)
max-line-length = 100
exclude = env
max-complexity = 8
accept-encodings = utf-8
