[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = '3'

[dev-packages]
flake8 = "*"
pycodestyle = "*"
pyflakes = "*"
pylint = "*"
yapf = "*"
pytest = "*"
pipenv-to-requirements = "*"
"flake8-comprehensions" = "*"
pytest-mock = "*"
pytest-sugar = "*"
mock = "*"
rope = "*"
isort = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
"m2r" = "*"
"autopep8" = "*"
mypy = "*"
pytest-cov = "*"
pydocstyle = "*"
bandit = "*"
pytest-watch = "*"
pytest-html = "*"

[packages]
pbr = ">=4"
typing = {markers="python_version < '3.5'"}
structlog = "*"
boltons = "*"
scandir = {markers="python_version < '3.5'"}
path-py = "*"
attrs = "*"
importlib-resources = "*"
