[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.4"
pycodestyle = ">=2.0"
pyflakes = "*"
pylint = ">=1.8"
yapf = ">=0.18"
pytest = ">=3.4"
pipenv-to-requirements = ">=0.1.9"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
pytest-mock = "*"
pytest-sugar = ">=0.9.1"
mock = "*"
rope = "*"
isort = ">=4.3.2"
sphinx-rtd-theme = "*"
sphinx = "*"
"m2r" = "*"
"autopep8" = "*"
mypy = "*"

[packages]
pbr = ">=3.0"
typing = {markers="python_version < '3.5'"}
